

.footer-container {
    height: 10rem;
    border-top: 0.5rem solid transparent;
	border-image: linear-gradient(90deg, var(--color-secondary), var(--color-primary)) 30;
    background-color: var(--color-medium-grey);
    color: var(--color-secondary-dark);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-diclaimer {
    padding: 1.5rem;
    width: 45%;
    font-weight: 500;
}

.footer-diclaimer svg {
    color: var(--color-secondary);
}

.btn-container {
    padding: 1rem;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-container a {
    text-decoration: none;
    align-self: flex-end;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem 1.5rem;
    border: 0.2rem solid transparent;
    border-image: linear-gradient(90deg, var(--color-secondary), var(--color-primary)) 1;
    background-color: transparent;
    color: var(--color-secondary-dark);
    cursor:pointer;
}

.btn svg {
    margin: 0.4rem;
}

.btn:hover {
    color: var(--color-secondary);
    border-image: linear-gradient(40deg, var(--color-secondary), var(--color-primary)) 1;
}

@media (max-width:500px) {
    .footer-container {
        flex-direction: column;
    }
    .footer-diclaimer {
        width: 100%;
        text-align: center;
    }

    .btn-container {
        justify-content: center;
        width: 100%;
    }
}