@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* Variables  */

:root {
  --font-default: 'Montserrat', sans-serif;
  --color-primary: #eac300;
  --color-secondary: #a84f94;
  --color-primary-dark: #a48d1e;
  --color-secondary-dark: #11062a;
  --color-primary-light: #fef8c2;
  --color-light: #ebebeb;
  --color-light-grey: #E4E4E4;
  --color-grey: #bdbda7;
  --color-grey-medium: #d3dbdc;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-default);
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  font-family: var(--font-default);
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-light);

}